.dash {
  margin-left: auto;
}

// sets icon image box 
.lets--icons-:img--box {
  height: 26px;
  width: 24px;
  background-color: #ffffff;
}

ion-badge {
  margin-left: 70px;
}

ion-label {
  padding-left: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-left {
  flex: 1;
}

.card-header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}