<ion-header [translucent]="true" style="background-color: transparent;">
  <!-- client dashboardpage toolbar, also repeated in the other pages apart frome the home page -->
  <ion-toolbar>
    <div class="component-1" style="background-color:#ffffff;">
      <img src="assets/lectrotel_logo.png" alt="Logo">
      <!-- take note of the click events of the various button  -->
      <button (click)="goToHome()" style="padding-left: 10px; padding-right: 10px; background-color:#ffffff;">
        <ion-icon name="person"></ion-icon>
      </button>
      <button (click)="goToDashboard()" style="padding-left: 10px; padding-right: 10px; background-color:#ffffff;">
        <ion-icon name="home"></ion-icon>
      </button>
      <button class="right-aligned" (click)="goToMenu()">
        <ion-icon name="list" class="dash"></ion-icon>
      </button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="position: relative;">
  <!-- only show the popup card if the showDashboard value in 1  -->
  <ion-card class="popup" *ngIf="showDashboard">
    <ion-card-header>
      <!-- this part shows the username and email of the logged account on the popup list display -->
      <ion-card-title class="text-1">{{name}}</ion-card-title>
      <ion-card-subtitle class="text-26">{{user}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- take note of the click events of the various button  -->
        <ion-item (click)="onDashboardClick()">
          <ion-icon name="mail"></ion-icon>
          <ion-label class="text-2">Dashboard</ion-label>
        </ion-item>

        <ion-item (click)="onDetailsClick()">
          <ion-icon name="expand"></ion-icon>
          <ion-label class="text-2">Details</ion-label>
        </ion-item>

        <ion-item (click)="onAlertsClick()">
          <ion-icon name="alert-circle"></ion-icon>
          <ion-label class="text-2">Alerts</ion-label>
        </ion-item>

        <ion-item lines="none" (click)="onLogoutClick()">
          <ion-icon name="log-out"></ion-icon>
          <ion-label class="text-2">Logout</ion-label>
        </ion-item>
      </ion-list>
      <div class="line-2"></div>
    </ion-card-content>
  </ion-card>

  <!-- the less detailed generators' data is displayed here using the for loop below -->
  <p class="text-1" style="padding-left: 10px;">generators</p>
  <p class="text-2" style="padding-left: 10px;">total number of generators: {{generator_tally}}</p>

  <ion-card *ngFor="let clientDashTable of clientDashTable1">
    <ion-card-header>
      <ion-card-title>Generator</ion-card-title>
      <ion-card-subtitle class="card-header">
        <div class="card-header-left">{{clientDashTable.generator_name}}</div>
        <div class="card-header-right">
          <ion-item>
            <ion-label>status: </ion-label>
            <!-- will add a green background color to the badge if the statement is true and red if the statement is false -->
            <ion-badge [color]="clientDashTable.online === 'online' ? 'success' : 'danger'">
              {{clientDashTable.online}} </ion-badge>
          </ion-item>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- the ion-row and a column size of 6 is used to plit the table to have 2 columns on the main view -->
      <ion-row>
        <ion-col size="6">
          <ion-list lines="none">
            <ion-item-group>
              <ion-item>
                <ion-thumbnail>
                  <img alt="Fuel Level" src="assets/fuel.png" />
                </ion-thumbnail>
                <ion-label>Fuel Status</ion-label>
              </ion-item>
              <!-- will add a green background color to the badge if the statement is true and red if the statement is false -->
              <ion-badge [color]="clientDashTable.fuel ? 'danger' : 'success'">{{clientDashTable.fuel ? 'low' : 'Ok'}}
              </ion-badge>
            </ion-item-group>

            <ion-item-group>
              <ion-item>
                <ion-thumbnail>
                  <img alt="Temperature" src="assets/temp.png" />
                </ion-thumbnail>
                <ion-label>Coolant Status</ion-label>
              </ion-item>
              <!-- will add a green background color to the badge if the statement is true and red if the statement is false -->
              <ion-badge [color]="clientDashTable.coolant ? 'danger' : 'success'"> {{clientDashTable.coolant ? 'low' :
                'Ok'}} </ion-badge>
            </ion-item-group>

            <ion-item-group>
              <ion-item>
                <ion-thumbnail>
                  <img alt="Status" src="assets/load.png" />
                </ion-thumbnail>
                <ion-label>Charger Status</ion-label>
              </ion-item>
              <!-- will add a green background color to the badge if the statement is true and red if the statement is false -->
              <ion-badge [color]="clientDashTable.charger_ac_failure ? 'danger' : 'success'">
                {{clientDashTable.charger_ac_failure ? 'YES' : 'NO'}} </ion-badge>
            </ion-item-group>
          </ion-list>
        </ion-col>

        <ion-col size="6">
          <ion-list lines="none">
            <ion-item-group>
              <ion-item>
                <ion-thumbnail>
                  <img alt="Load" src="assets/lightning.png" />
                </ion-thumbnail>
                <ion-label>Load Status</ion-label>
              </ion-item>
              <!-- will add a green background color to the badge if the statement is true and red if the statement is false -->
              <ion-badge [color]="clientDashTable.load ?  'danger' : 'success'"> {{clientDashTable.load ? 'no load' :
                'Ok'}} </ion-badge>
            </ion-item-group>

            <ion-item-group>
              <ion-item>
                <ion-thumbnail>
                  <img alt="Alarm" src="assets/alat.png" />
                </ion-thumbnail>
                <ion-label>Common Alarm</ion-label>
              </ion-item>
              <!-- will add a green background color to the badge if the statement is true and red if the statement is false -->
              <ion-badge [color]="clientDashTable.common_alarm ? 'danger' : 'success'">{{clientDashTable.common_alarm ?
                'Yes' : 'No'}} </ion-badge>
            </ion-item-group>
            <!-- todo: link to the fuel history on the main webpage  -->
            <ion-button fill="clear">fuel history</ion-button>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


</ion-content>