.rectangle-2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #ffffff;
  border: 1px solid;
  padding-right: 0px;
}

ion-thumbnail {
  --size: 60%;
}

.bar {
  transform: rotate(-90deg);
}

ion-col {
  height: min-content;
}

ion-item {
  --background: transparent !important;
  --ion-item-background: transparent !important;
  /* For Ionic 4+ */
}